/* HEADER SECTION*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  background-color: #fff;
}

.header-name {
  font-size: 2.4rem;
  font-weight: 700;
  font-family: "Roboto Slab", sans-serif;
  color: #010d09;
}

.main-nav-list {
  display: flex;
  list-style: none;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #010d09;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #087f5b;
}

/* HERO SECTION*/
.section-hero {
  background-color: #010d09;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
  color: #e6f2ef;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  transition: all 0.3s;
  font-weight: 600;
  /* background-color: #fff; */
  color: #087f5b;
  border: #087f5b 2px solid;
}

.btn:hover,
.btn:active {
  background-color: #087f5b;
  color: #fff;
}

.hero-img {
  height: 80vh;
  background: linear-gradient(
      to left,
      rgb(1, 13, 9, 0.98),
      rgba(2, 38, 27, 0.1),
      rgb(1, 13, 9, 0.98)
    ),
    linear-gradient(
      rgb(1, 13, 9, 0.4),
      rgba(2, 38, 27, 0.1),
      rgb(1, 13, 9, 0.95)
    ),
    url(images/Tryberman.jpg);
  background-size: cover;
  background-position: center;
}

/* DESCRIPTION SECTION */

.about-me-container {
  gap: 9.6rem;
}

.progress-name-bar {
  display: grid;
  grid-template-columns: 20fr 80fr;
}

.bar-name {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  font-size: 1.8rem;
  font-style: italic;
  background-color: #b5d9ce;
  color: #fff;
  font-weight: 600;
}

/* ANIMATIONS */
/* Progress bars */
.meter {
  height: 25px;
  background-color: #eee;
}

.meter div {
  height: 100%;
}

.bar-progress {
  display: inline-flex;
  align-items: center;
  justify-content: end;
  color: #eee;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #054c37;
  animation: progressBar 3s ease-in;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  -webkit-animation: progressBar 5s ease;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* SKILLS SECTION */
.skills-container {
  padding: 9.6rem;
}

.skills-lists-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8rem;
}

.skills-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.6rem;
  padding: 1.6rem;

  align-items: center;
}

.gallery-item {
  width: 70%;
  transition: all 0.4s;
}

.gallery-item:hover {
  transform: scale(1.1);
}

/* PROJECTS SECTION */

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6.4rem;
}

.project-card {
  border: 2px solid #e6f2ef;
  border-radius: 11px;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.project-card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2 6.2 rgba(0, 0, 0, 0.06);
}

.card {
  overflow: hidden;
}

.card img {
  width: 100%;
}

.project-content {
  padding: 2rem 3.6rem 3.6rem 3.6rem;
}

.project-content ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.project-title:link,
.project-title:visited {
  display: block;
  text-decoration: none;
  color: #010d09;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
  transition: all 0.3s;
}

.project-title:hover,
.project-title:active {
  color: #087f5b;

  margin-bottom: 3.2rem;
}

.project-atribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  color: #010d09;
}

/* FOOTER SECTION */
.footer {
  border-top: 3px solid #b5d9ce;
  background-color: #010d09;
}

.footer div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;

  font-size: 1.4rem;
  font-weight: 500;
  color: #e6f2ef;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: rgb(230, 242, 239, 0.5);
}

.footer-link:hover,
.footer-link:active {
  text-decoration: none;
  color: #087f5b;
}
