/* HEADER SECTION*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  background-color: #fff;
}

.header-name {
  font-size: 2.4rem;
  font-weight: 700;
  font-family: "Roboto Slab", sans-serif;
  color: #010d09;
}

.main-nav-list {
  display: flex;
  list-style: none;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #010d09;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #087f5b;
}

/* HERO SECTION*/
.section-hero {
  background-color: #010d09;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
  color: #e6f2ef;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  transition: all 0.3s;
  font-weight: 600;
  /* background-color: #fff; */
  color: #087f5b;
  border: #087f5b 2px solid;
}

.btn:hover,
.btn:active {
  background-color: #087f5b;
  color: #fff;
}

.hero-img {
  height: 80vh;
  background: linear-gradient(
      to left,
      rgb(1, 13, 9, 0.98),
      rgba(2, 38, 27, 0.1),
      rgb(1, 13, 9, 0.98)
    ),
    linear-gradient(
      rgb(1, 13, 9, 0.4),
      rgba(2, 38, 27, 0.1),
      rgb(1, 13, 9, 0.95)
    ),
    url(images/Tryberman.jpg);
  background-size: cover;
  background-position: center;
}

/* SKILLS SECTION */
.section-skills {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.skills-container {
  padding: 9.6rem;
}

.skills-lists-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8rem;
}

.skills-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
  align-items: center;
}

.gallery-item {
  width: 80%;
}
