* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --text-primary: #f69494;
  --text-secondary: rgba(246, 148, 148, 0.3);
  --bg-primary: #0e332f;
  --bg-secondary: rgba(5, 20, 19, 0.452);
}

body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: 'Raleway', sans-serif;
  font-size: 2.4rem;
  position: relative;
}

@media (min-width: 1270px) {
  body {
    max-height: 100vh; /*ATUALIZAÇÃO*/
  }
}

main {
  line-height: 1.4;
}

/* =================== */
/* Header name */
/* =================== */
.header a {
  text-decoration: none;
  color: inherit;
}

.header__name {
  padding: 3.6rem;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 8vw;
}

.header__name p a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 480px) {
  .header__name {
    padding: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10vw;
    letter-spacing: 5px;
  }
}

@media (min-width: 990px) {
  .header__name {
    outline: 0;
  }
}

/* ******************* */

/* =================== */
/* Header navs */
/* =================== */
.header__nav {
  border-top: 1px solid var(--text-primary);
  border-bottom: 1px solid var(--text-primary);
  text-transform: uppercase;
}

/* =================== */
/* NAV OVERLAY FOR MOBILE SCREENS */
/* =================== */
/* Dynnamic nav menu for mobile screens
This nav is supposed to appear up until 990px of
screen width. By default this nav is hidden.
It also will only appear upon clicking on the 
'sanswich btn'. */
.header__nav-overlay {
  position: absolute;
  pointer-events: none;
  visibility: hidden;
  width: 100%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateY(-5px);
  background-color: var(--bg-primary);
}

/*This class is toggled for opening the nav bar*/
.nav-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateY(0);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.header__nav-overlay--ul {
  list-style-type: none;
  text-align: center;
}

.header__nav-overlay--li {
  display: block;
  padding: 1.8rem 0;
  border-bottom: 1px solid var(--text-primary);
}

.header__nav-overlay--li a:link,
.header__nav-overlay--li a:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  font-size: 2.8rem;
}

@media (max-width: 989px) {
  .header__nav2 {
    display: none; /*The nav2 appears at 990px of screen width*/
  }
}

/* =================== */
/* MOBILE NAV OVERLAY FOR SCREENS LESS THAN 480PX */
/* =================== */
@media (max-width: 480px) {
  .header__nav-overlay--li {
    padding: 1.6rem 0;
  }

  .header__nav-overlay--li a:link,
  .header__nav-overlay--li a:visited {
    font-size: 2.4rem;
  }
}

/* =================== */
/* MAIN MOBILE HEADER NAV LI */
/* =================== */
/* ******************* */
.header__nav--li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ******************* */
.header__nav--li-page {
  cursor: default;
  padding: 1.8rem 2.4rem;
  border: 1px dashed var(--text-primary);
  background-color: var(--text-primary);
  color: #0e332f;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s;
}

@media (max-width: 480px) {
  .header__nav--li-page {
    padding: 1.6rem 2rem;
    font-size: 1.6rem;
  }
}

@media (min-width: 770px) {
  .header__nav--li-page {
    padding: 2rem 2.4rem;
    font-size: 2.8rem;
    font-weight: 400;
  }
}

.header__nav--li-page:hover {
  background-color: inherit;
  color: var(--text-primary);
}
/* ******************* */

/* =================== */
/* MAIN MOBILE HEADER NAV BUTTON */
/* =================== */
.header__nav--li-btn {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 0.5;
  font-size: 1.8rem;
  font-family: sans-serif;
}

@media (max-width: 480px) {
  .header__nav--li-btn {
    padding: 1.2rem;
    line-height: 0.5;
    font-size: 1.4rem;
  }
}

@media (min-width: 770px) {
  .header__nav--li-btn {
    font-size: 2.4rem;
  }
}

.header__nav--li-btn:hover {
  cursor: pointer;
}

/* =================== */
/*+++ Nav for screens larger than 990px +++*/
/* =================== */

@media (min-width: 990px) {
  .header {
    position: sticky;
    background-color: #0e332f;
    z-index: 1;
  }

  .header__nav {
    /*"header__nav" is the mobile nav*/
    display: none;
  }

  .header__nav2--ul {
    /*"header__nav2" is the non-mobile nav*/
    display: flex;
    justify-content: space-between;
    list-style: none;
    outline: 1px solid var(--text-primary);
  }

  .header__nav2--li a:link,
  .header__nav2--li a:visited {
    display: inline-block;
    padding: 2.4rem 3.6rem;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    font-size: 2.8rem;
    transition: all 0.3s;
  }

  .header__nav-overlay--hidden {
    display: none; /*Dynamic nav bar is not applicable for non mobile devices*/
  }
}

/* =================== */
/* Skew effect for the NAV BARS */
/* =================== */
.skew {
  display: inline-block;
  transition: all 0.3s;
}

.skew:hover {
  transform: skew(0deg, -10deg);
}

/* =================== */
/* Hero description*/
/* =================== */
/* At screens sizes larger than 990px the 
hero section layout is redefined */
@media (min-width: 990px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.hero__description {
  padding: 3.6rem;
  font-size: 3.2rem;
}

@media (max-width: 480px) {
  .hero__description {
    padding: 1.8rem;
    font-size: 2.4rem;
  }
}

@media (max-width: 230px) {
  .hero__description {
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
  }
}

/* ******************* */
/* =================== */
/* Hero tags */
/* =================== */
.hero__tags {
  padding: 3.6rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.8rem;
  text-align: center;
  outline: 1px solid var(--text-primary);
}

@media (max-width: 480px) {
  .hero__tags {
    padding: 1.6rem;
    font-size: 1.8rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.9rem;
  }
}

@media (min-width: 990px) {
  .hero__tags {
    outline: 0;
    border-top: 1px solid var(--text-primary);
  }
}

/* ******************* */
.hero__tags p {
  padding: 1.8rem 2.4rem;
}

@media (max-width: 480px) {
  .hero__tags p {
    padding: 0.9rem 1.2rem;
  }
}

/* ******************* */
.larger-tag {
  grid-column: 1 / 4;
}

@media (max-width: 480px) {
  .larger-tag {
    grid-column: 1 / 2;
  }
}
/* ******************* */
.larger-tag2 {
  grid-column: 4 / 7;
}

@media (max-width: 480px) {
  .larger-tag2 {
    grid-column: 2 / 3;
  }
}
/* ******************* */
.smaller-tag1 {
  grid-column: 1 / 3;
}
/* ******************* */
.smaller-tag2 {
  grid-column: 3 / 5;
}
/* ******************* */
.smaller-tag3 {
  grid-column: 5 / 7;
}
/* ******************* */
@media (max-width: 480px) {
  .smaller-tag1,
  .smaller-tag2,
  .smaller-tag3 {
    grid-column: 1 / -1;
  }
}
/* ******************* */
.hero__tags--square {
  outline: 1px solid var(--text-primary);
}
/* ******************* */
.hero__tags--round {
  outline: 1px solid var(--text-primary);
  border-radius: 50px;
}

/* =================== */
/* Hero image */
/* =================== */
.hero__image {
  overflow: hidden;
  position: relative;
  height: 50vh;
  border-top: 1px solid var(--text-primary);
  border-bottom: 1px solid var(--text-primary);
}

.hero__image--img {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}
/* ******************* */
@media (min-width: 990px) {
  .hero__image--img {
    border-right: 1px solid var(--text-primary);
    border-left: 1px solid var(--text-primary);
    border-top: 0;
    border-bottom: 0;
  }
  .hero__image {
    overflow: hidden;
    position: relative;
    height: 100%;
  }
}

/* =================== */
/* Hero__left & hero__right */
/* =================== */
.hero__left,
.hero__right {
  outline: 0;
  overflow: hidden;
}

/* =================== */
/* Footer */
/* =================== */
.footer {
  outline: 1px solid var(--text-primary);
  font-size: 1.8rem;
  padding: 3.6rem;
  text-align: center;
}

@media (max-width: 480px) {
  .footer {
    padding: 2.4rem;
    outline: 0;
    border-bottom: 1px solid var(--text-primary);
  }
}

@media (min-width: 990px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1484px) {
  .footer {
    padding: 5rem;
  }
}

@media (min-width: 1650px) {
  .footer {
    padding: 3.6rem;
  }
}

/* ******************* */
.footer__email:link,
.footer__email:active {
  text-decoration: none;
  border-bottom: 1px solid var(--text-primary);
  color: inherit;
  transition: all 0.3s;
}

.footer__email:hover,
.footer__email:visited {
  opacity: 0.9;
  letter-spacing: 0.1px;
}
/* ******************* */

/* =================== */
/* Aside (less than 990px width screens) */
/* =================== */
/* +++ Aside for screens bellow 990px width +++ */
.aside {
  padding: 2.4rem;
  display: flex;
  justify-content: space-around;
}

.svg-color {
  filter: invert(88%) sepia(34%) saturate(4182%) hue-rotate(301deg)
    brightness(103%) contrast(91%);
}

@media (max-width: 480px) {
  .aside {
    padding: 1.8rem;
  }
}

/* =================== */
/* +++ Aside for screens larger than 990px width +++ */
/* =================== */
@media (min-width: 990px) {
  body {
    display: grid;
    grid-template-columns: 1fr 8.4rem;
  }

  body div:first-child {
    outline: 1px solid var(--text-primary);
  }

  .aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
  }
}

/* ====================== */
/* +++++++++++++++++++ */
/* PROFILE PAGE */
/* ====================== */
/* +++++++++++++++++++ */

/* The following styles are applicable for screen sizes less than 480px */

.hero__description--bio {
  margin-bottom: 3.6rem;
  text-transform: uppercase;
  font-size: 3.6rem;
}

.hero__bio {
  outline: 1px solid var(--text-primary);
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  font-size: 1.8rem;
}

.hero__image--profile {
  height: 30vh;
}

.experience__list {
  padding: 1.8rem;
  border-top: 1px solid var(--text-primary);
  border-bottom: 1px solid var(--text-primary);
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  list-style: none;
  font-size: 1.8rem;
}

.experience__list--li {
  padding-bottom: 1.8rem;
  border-bottom: 1px dotted var(--text-primary);
  display: flex;
  flex-direction: column;
}

.experience__list--li p:nth-child(2) {
  opacity: 0.5;
}

@media (min-width: 480px) {
  .hero__description--bio {
    font-size: 4.8rem;
  }

  .hero__bio {
    padding: 3.6rem;
    gap: 3.6rem;
    font-size: 2.4rem;
  }

  .hero__image--profile {
    height: 40vh;
  }

  .experience__list {
    padding: 3.6rem 3.6rem 7.2rem 3.6rem;
    gap: 2.4rem;
    list-style: none;
    font-size: 2.4rem;
  }

  .experience__list--li {
    padding-bottom: 3.6rem;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 770px) {
  .hero__description--bio {
    margin-bottom: 9rem;
    font-size: 5.4rem;
  }

  .hero__image--profile {
    height: 60vh;
  }
}

@media (min-width: 990px) {
  .page-selected {
    display: inline-block;
    transform: skew(0deg, -10deg);
    border-bottom: 1px solid var(--text-primary);
    font-style: italic;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .bio {
    border-bottom: 1px solid var(--text-primary);
  }

  .hero__description--bio {
    position: sticky;
    top: 11.4rem;
    font-size: 5.4rem;
  }

  .hero__bio {
    outline: 0;
    border-left: 1px solid var(--text-primary);
  }

  .hero__image.hero__image--profile {
    height: 75vh;
    border: 0;
  }

  .hero__image--img.hero__image--img-profile {
    border: 0;
  }

  .skills-grid {
    grid-template-columns: 1fr fill;
    border-top: 1px solid var(--text-primary);
  }

  .hero__tags.hero__tags--profile {
    border-top: 0;
    border-left: 1px solid var(--text-primary);
  }

  .experience__list {
    border-top: 0;
    border-left: 1px solid var(--text-primary);
  }

  .aside-profile {
    position: fixed;
    padding: 3rem;
    height: 100vh;
  }
}

@media (min-width: 1270px) {
  .hero__image.hero__image--profile {
    height: 100vh;
  }
}

/* ====================== */
/* +++++++++++++++++++ */
/* PROFILE PAGE */
/* ====================== */
/* +++++++++++++++++++ */

/* The following styles are applicable for screen sizes less than 480px */
.section-work {
  border-bottom: 1px solid var(--text-primary);
}

.section-work__div {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.6rem;
}

.section-work__h1 a:link,
.section-work__h1 a:visited {
  text-decoration: none;
  color: inherit;
  font-size: 3.6rem;
  line-height: 4.4rem;
  transition: all 0.2s;
}

.section-work__h1 a:hover,
.section-work__h1 a:active {
  opacity: 0.5;
}

.section-work__tags-div {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  text-transform: uppercase;
}

.section-work__tags-div--tag {
  border: 1px solid var(--text-primary);
  border-radius: 30px;
  padding: 1rem 1.8rem;
  font-size: 1.8rem;
}

.section-work__img {
  max-width: 100%;
  opacity: 0.8;
}

/* TODO: */
/* TO be continued:
- Adjust the height of the sections to 100vh;
- Make the tag on the aside 
- Continue the style (spacings) of works page*/
